################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CursoWindowsForms/FileContentIndex/00bc53b3-1842-4a6c-9dc5-a56ac9ef078c.vsidx
/.vs/CursoWindowsForms/FileContentIndex/26059d4f-a95c-4bf4-b589-e63c4b3273f5.vsidx
/.vs/CursoWindowsForms/FileContentIndex/2362f4a1-2a3c-4311-a41f-ab5f8a960291.vsidx
/.vs/CursoWindowsForms/FileContentIndex/3525af33-a007-42d4-9b08-fe92b95cbeb9.vsidx
/.vs/CursoWindowsForms/FileContentIndex/97908c5f-40ba-4e7f-81f7-df56d6c3d641.vsidx
/.vs/CursoWindowsForms/FileContentIndex/c8c829ed-49fb-4009-814e-c586d5fef864.vsidx
